# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
dist/
*.egg-info/

# Node
node_modules/
frontend/dist/

# Environment
.env
*.env.local

# Database
*.db

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
*.tsbuildinfo
